.projects {
    list-style-type: none;
    margin: 0;
}

.project {
    margin: 1rem 0;
    a {
        background: #f4f4f4;
        color: #333333;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }
    a:hover {
        background:  #4f9eff;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 0.5rem;
    }

    h3 {
        font-size: 15px;
        font-style: italic;
        font-weight: 200;
    }

    p {
        font-size: 15px;
    }

    @media screen and (min-width: 800px) {
        a {
            background: #f4f4f4;
            color: #333333;
            display: block;
            padding: 1rem;
            text-decoration: none;
        }
        a:hover {
            background:  #4f9eff;
        }

        h2 {
            font-size: 28px;
            margin-bottom: 0.5rem;
        }
    
        h3 {
            font-size: 18px;
            font-style: italic;
            font-weight: 200;
        }

        p {
            font-size: 20px;
        }
    }
}

.navList{
    background: #ffffff;
    display: flex;
    list-style-type: none;
    margin: 0;
}


.navItem {
    font-size: 15px;
    font-weight: 200;
    color: #333333;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;

    @media screen and (min-width: 800px) {
        font-size: 25px;
        font-weight: 200;
        color: #333333;
        margin-right: 25px;
        text-decoration: none;
        text-align: center;
    }
}

.navItem:hover{
    color: #4f9eff;
}

.active-nav-item {
    color: #4f9eff;
}

.navItem::after {
    font-size: 25px;
    content: ".";
    color: #4f9eff;

    @media screen and (min-width: 800px) {
        font-size: 55px;
        content: ".";
        color: #4f9eff;
    }
}