.logo {
    padding-top: 120px;
    width: 145px;
    height: 145px;
}

.header {
    background: #ffffff;
    padding: 1rem 0 1rem;
}

.title {
    margin: 0 auto;
    padding-left: 150px;
    max-width: 960px;
    color: #333333;
    font-size: 65px;
    font-weight: 720;
    text-decoration: none;
}

.subHeaderTitle {
    color: #333333;
    padding-left: 155px;
    font-weight: 400;
    font-size: 25px;
}

.link { //selector
    color: #999999;
}
