.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 15px;
    }


    @media screen and (min-width: 800px) {
        margin: 0 auto;
        max-width: 1000px;
        padding: 1rem;
    
        display: flex;
        flex-direction: column;
        min-height: 100vh;
     
        h1 {
            font-size: 40px;
        }

        p {
            font-size: 20px;
        }
    }
}


.iconBar {
    text-align: left;
}

.icon {
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
    color: #333333;
    margin-right: 15px;

    @media screen and (min-width: 800px) {
        text-decoration: none;
        font-size: 70px;
        font-weight: 700;
        color: #333333;
        margin-right: 25px;
    }
}

.icon:hover {
    color: #4f9eff;
}

.content {
    flex-grow: 1;
}

.footer {
    margin-top: 1rem;
    color: #333333;
    text-decoration: none;
}
