.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;


    @media(min-width: 800px) {
        margin: 0 auto;
        max-width: 910px;
        padding: 1rem;
    
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}


.iconBar {
    text-align: left;
}

.icon {
    text-decoration: none;
    font-size: 60px;
    font-weight: 700;
    color: #333333;
    margin-right: 15px;

    @media(min-width: 800px) {
        text-decoration: none;
        font-size: 70px;
        font-weight: 700;
        color: #333333;
        margin-right: 25px;
    }
}

.icon:hover {
    color: #4f9eff;
}

.content {
    flex-grow: 1;
}

.footer {
    margin-top: 1rem;
    color: #333333;
    text-decoration: none;
}
