.navList{
    background: #ffffff;
    padding: 0rem 0 0rem;
    padding-top: 5px;
    padding-bottom: 20px;
    display: flex;
    list-style-type: none;
    margin: 0;

    @media (min-width: 800px) {
        background: #ffffff;
        padding: 0rem 0 0rem;
        padding-top: 5px;
        padding-bottom: 20px;
        display: flex;
        list-style-type: none;
        margin: 0;
    }
}


.navItem {
    font-size: 19px;
    font-weight: 700;
    color: #333333;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;

    @media(min-width: 800px) {
        font-size: 38px;
        font-weight: 700;
        color: #333333;
        margin-right: 25px;
        text-decoration: none;
        text-align: center;
    }
}

.navItem:hover{
    color: #4f9eff;
}

.active-nav-item {
    color: #4f9eff;
}

.navItem::after {
    font-size: 19px;
    content: ".";
    color: #4f9eff;

    @media(min-width: 800px) {
        font-size: 55px;
        content: ".";
        color: #4f9eff;
    }
}